.home-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  gap: 0;
  text-align: center;

  div {
    img {
      width: 250px;
      border-radius: 50%;
    }
  }
  ul {
    margin: auto;
    padding: 0;
    width: 80%;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    li {
      margin: 0.5rem 1rem;
      padding: 0;
      @include breakpoint-up(tablet) {
        margin: 1rem 1.5rem;
      }
      a {
        width: 3rem;
        display: block;
        overflow: hidden;
        @include breakpoint-up(tablet) {
          width: 4rem;
        }
        @include breakpoint-up(large) {
          width: 5rem;
        }
      }
    }
  }
}
